<div class="container">
  2 + 2 = {{2 + 2}}
  <p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>
  <p>Lançando um dado: {{lancarDado()}}</p>
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <input type="nome" class="form-control" id="nomeInput" placeholder="Digite um nome" #nomeInput>
    </div>
    <button type="button" class="btn btn-primary btn-block" (click)="adicionar(nomeInput)">Adicionar</button>
    <div class="alert alert-primary mt-3 p-3" [hidden]="!exibirCaixa">
      {{nome}}
    </div>
  </form>

  <app-cursos></app-cursos>
  <app-professor></app-professor>
</div>